<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="MenuDTO" type="persistence.dto.MenuDTO"/>
        <typeAlias alias="MenuOptionDTO" type="persistence.dto.MenuOptionDTO"/>
        <typeAlias alias="OptionDTO" type="persistence.dto.OptionDTO"/>
        <typeAlias alias="OrderDTO" type="persistence.dto.OrderDTO"/>
        <typeAlias alias="OrderMenuDTO" type="persistence.dto.OrderMenuDTO"/>
        <typeAlias alias="OrderOptionDTO" type="persistence.dto.OrderOptionDTO"/>
        <typeAlias alias="ReviewDTO" type="persistence.dto.ReviewDTO"/>
        <typeAlias alias="StoreDTO" type="persistence.dto.StoreDTO"/>
        <typeAlias alias="Review_omDTO" type="persistence.dto.Review_omDTO"/>
        <typeAlias alias="StoreMenuDTO" type="persistence.dto.StoreMenuDTO"/>
        <typeAlias alias="UserDTO" type="persistence.dto.UserDTO"/>
    </typeAliases>

<environments default="development">
<environment id="development">
    <transactionManager type="JDBC"/>
    <!--  connecting to Local MySql -->
    <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/project?characterEncoding=utf8&amp;serverTimezone=UTC&amp;useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </dataSource>

</environment>
</environments>
<mappers>
    <mapper resource="sqlmapper/store.xml"/>
    <mapper resource="sqlmapper/menu.xml"/>
    <mapper resource="sqlmapper/option.xml"/>
    <mapper resource="sqlmapper/order.xml"/>
    <mapper resource="sqlmapper/review.xml"/>
    <mapper resource="sqlmapper/storemenu.xml"/>
    <mapper resource="sqlmapper/user.xml"/>
    <mapper resource="sqlmapper/menuoption.xml"/>
    <mapper resource="sqlmapper/ordermenu.xml"/>
    <mapper resource="sqlmapper/orderoption.xml"/>
</mappers>
        </configuration>
