<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="MenuDTO" type="persistence.dto.MenuDTO"/>
        <typeAlias alias="Menu_OptionDTO" type="persistence.dto.Menu_OptionDTO"/>
        <typeAlias alias="OptionDTO" type="persistence.dto.OptionDTO"/>
        <typeAlias alias="OrderDTO" type="persistence.dto.OrderDTO"/>
        <typeAlias alias="Order_MenuDTO" type="persistence.dto.Order_MenuDTO"/>
        <typeAlias alias="ReviewDTO" type="persistence.dto.ReviewDTO"/>
        <typeAlias alias="StoreDTO" type="persistence.dto.StoreDTO"/>
        <typeAlias alias="Store_MenuDTO" type="persistence.dto.Store_MenuDTO"/>
        <typeAlias alias="UserDTO" type="persistence.dto.UserDTO"/>
        <typeAlias alias="orderOptionList" type="persistence.dto.OrderOptionDTO"/>
        <typeAlias alias="orderMenuList" type="persistence.dto.OrderMenuDTO"/>
    </typeAliases>

<environments default="development">
<environment id="development">
    <transactionManager type="JDBC"/>
    <!--  connecting to Local MySql -->
    <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/project?characterEncoding=utf8&amp;serverTimezone=UTC&amp;useSSL=false&amp;allowPublic"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </dataSource>

</environment>
</environments>
<mappers>
<mapper resource="sqlmapper/store.xml"/>
<mapper resource="sqlmapper/menu.xml"/>
<mapper resource="sqlmapper/option.xml"/>
<mapper resource="sqlmapper/order.xml"/>
<mapper resource="sqlmapper/order_menu.xml"/>
<mapper resource="sqlmapper/review.xml"/>
<mapper resource="sqlmapper/store_menu.xml"/>
<mapper resource="sqlmapper/user.xml"/>
</mappers>
        </configuration>
